/* ROOT */

#root {--tabs-height: 30px;}

#root .Tab {--tabs-indent: 7px;}


/* TABS */

.Tab {

	/* Centers tabs horizontally */
	margin: auto;

	/* Increase to remove wrongful/extra sub-tree-level marks */
	width: 96%; 
}

/* Veritcally center pinned tabs */
.PinnedTabsBar .Tab {
	padding-bottom: 0px;
}

/* NAV BAR */

.NavigationBar {
	height: 40px !important;
	padding: 4.5px 4.5px 0px 4.5px !important;

	/* If you change tab width, change this */
	margin-bottom: 4px;
}

/* COLLAPSING SIDEBAR */

@media (max-width: 50px) {

	/* Remove tab tree identation when minimised */
	#root:not(:hover) .Tab {--tabs-indent: 0px;}

	/* Set tab width */
	.Tab {max-width: 34px;}

	/* Center favicons */ 
	.Tab .body .fav {margin-left: 9px;} 

	/* Place audio icon at the same location of the throbber */ 
	.Tab .audio {
		margin-left: -12px;
		margin-top: 5px;
	}

	.Tab .title {display: none;}

	.PinnedTab {margin-left: 5px;}

	.NavigationBar .settings-btn {display: none;}

	/* Xan couldn't figure out how to center whatever icon was shown */
	.BottomBar {display: none;} 
}